.PedalBoard {
    display: flex;
    flex-direction: row;
    background-color: rgb(78, 85, 85);
    height: 80%;
    width: 83%;

    padding: 3em;
    justify-content: bottom;

    &__main {

        padding: 3em;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        background-color: darkcyan;

        width: 100%;


    }
}