.PedalBoard {
    display: flex;
    flex-direction: row;
    background-color: rgb(78, 85, 85);
    height: 80%;
    width: 83%;

    padding: 3em;
    justify-content: bottom;

    &__main {
        background-color: darkcyan;
        flex-grow: 1;
    }
}