.PedalBoard {
    display: flex;
    flex-direction: row;

    height: 80%;
    width: 83%;

    padding: 3em;
    justify-content: bottom;

    &__main {

        padding: 3em;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        background-color: rgba(207, 238, 238, 0.096);

        width: 100%;


    }
}