.PriceListItem {
    display: flex;
    flex-direction: row;
    width: 80%;


    margin: 0;
    padding: 0;
    justify-content: center;


    &__title {
        color: rgb(133, 117, 117);
        margin-top: 0px;
        margin-bottom: 25px;
    }

    &__price {
        margin-left: auto;
        margin-top: 0px;
        margin-bottom: 25px;
    }

    &__delete {
        background-color: hotpink;
        margin-left: 20px;
        width: 15px;
        height: 15px;
        margin-top: 0px;
        margin-bottom: 25px;

    }
}