.playAudioButton {

    background-color: rgb(255, 211, 13);
    width: 115px;
    height: 115px;
    filter: drop-shadow(0 0 0.75rem rgb(27, 27, 27));

    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;

    position: relative;
    top: 79%;

    margin: 1em 1em;
    border-radius: 50%;


}