@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Dela Gothic One';
}

p {
  font-family: 'Open Sans';
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.PriceSum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  width: 15%;
  background: rgba(24, 24, 24, 0.6);
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1em 1em;
  -ms-flex-line-pack: center;
      align-content: center;
}

.PriceSum__title {
  color: #dbdbdb;
}

.PriceSum__total {
  color: whitesmoke;
  margin: 0px;
  margin-left: auto;
  margin-right: 20%;
}

.playAudioButton {
  background-color: #ffd30d;
  width: 115px;
  height: 115px;
  -webkit-filter: drop-shadow(0 0 0.75rem #1b1b1b);
          filter: drop-shadow(0 0 0.75rem #1b1b1b);
  position: relative;
  top: 79%;
  margin: 1em 1em;
  border-radius: 50%;
}

.PedalBoard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 80%;
  width: 83%;
  padding: 3em;
  -webkit-box-pack: bottom;
      -ms-flex-pack: bottom;
          justify-content: bottom;
}

.PedalBoard__main {
  padding: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(207, 238, 238, 0.096);
  width: 100%;
}

.PriceListItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  margin: 0 0 1.5em 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: 0.05em dashed rgba(255, 255, 255, 0.26);
}

.PriceListItem__title {
  color: whitesmoke;
  margin: 0px;
}

.PriceListItem__price {
  color: whitesmoke;
  margin: 0px;
  margin-left: auto;
}

.PriceListItem__delete {
  display: none;
  background-color: hotpink;
  margin-left: 20px;
  width: 15px;
  height: 15px;
  margin-top: 0px;
}

.Browser {
  width: 83%;
  background-color: honeydew;
  margin: 0px auto 0px auto;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(244, 44, 44, 0.7);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.Pedal {
  margin: .3em 1em;
  padding: .5em;
  width: 200px;
  height: 250px;
}

.Pedal :hover {
  cursor: pointer;
}

.Pedal--onBoard {
  margin: 3em 6em;
}
/*# sourceMappingURL=App.css.map */